#box{
  width: 500px;
  margin: 0 auto;
  border: 2px solid #666;
  padding: 25px;
  box-sizing: border-box;
}
#btn{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
#btn>button{
  padding: 20px 50px;
  border: none;
  color: #fff;
  margin: 0 25px;
}
#btn>button:first-child{
  background-color: red;
}
#btn>button:last-child{
  background-color: greenyellow;
}
#container{
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #666;
  padding: 20px 0;
}
#contain{
  text-align: center;
  width: 250px;
}
#contain>p:nth-of-type(1){
  color: #101074;
  font-size: 20px;
}
#contain>p:nth-of-type(2){
  color: #39584b;
  font-size: 20px;
}